#logo {
    transition: all 0.3s ease;
    width: 100px;
}

/* Logo size when scrolling */
.navbar-scrolled #logo {
    width: 70px;
    /* Adjust the size as needed */
}

.navbar {
    transition: all 0.3s ease;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.8);
        opacity: 0; 
    }
    100% {
        transform: scale(1); 
        opacity: 1; 
    }
}


#home_content1 {
    animation: fadeIn 1.5s ease-in-out forwards; 
}

#home_content3 {
    animation: fadeIn 2s ease-in-out forwards;
}

#schedule_button {
    animation: fadeIn 2.5s ease-in-out forwards;
}


.zoom-image {
    animation: zoomIn 1.5s ease-in-out forwards;
    margin-top: 5%; 
}



.card-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease; 
}


.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

#card1 {
    animation-delay: 0.3s;
}

#card2 {
    animation-delay: 0.6s;
}


.coupon {
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; 
}

.coupon.visible {
    opacity: 1; 
    transform: translateY(0); 
}

.coupon.visible {
    animation: fadeInUp 1.6s ease-out;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.coupon {
    border-radius: 15px;
    width: 450px;
    overflow: hidden;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.offer_title {
    background-image: linear-gradient(to right, #005dab, #002645);
    color: white;
    padding: 17px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.price {
    color: #fcd500;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

@media (max-width: 780px) {
    .coupon {
        width: 100%;
    }
}

@media (max-width:450px) {
    .navbar-scrolled #logo {
        width: 50px !important;
    }
}
