nav {
    background-image: linear-gradient(to right, #005dab, #002645);
}

#dropDown {
    font-size: 18px;
    color: #005dab;
    padding-left: 8px;
}

.nav-link{
    color: #005dab !important;
}

#dropDown:focus {
    font-size: 18px;
    color: #005dab;
    background-color: transparent;
    padding-left: 8px;
}

nav ul li a {
    color: #005dab;
}

nav ul li {
    color: #005dab;
}

nav ul li a:hover {
    color: #ab0000;
}

.navbar-brand img {
    margin-left: 20px;
}


.navbar-nav .nav-item {
    font-size: 18px;
    font-weight: bold;   
    padding-left: 1 0px;
}

.navbar-nav .nav-link {
    color: #005dab;
}

.navbar-nav .nav-link:hover {
    color: #005dab;
}

.navbar-nav {
    background-color: white;
    padding: 14px;
    border-radius: 10px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.material-icons {
    font-size: 34px;
    color: white;
}

#button1 {
    background-color: #fcd500;
    color: white;
    font-size: 20px;
}

#button2 {
    background-color: #005dab;
    color: white;
    font-size: 17px;
    margin-right: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
}
button:focus:not(:focus-visible) {
    color: transparent;
}

@media (min-width: 1200px){
    .navbar-nav .nav-item {
        margin-left: 10px;
        margin-right: 0;
        text-align: center;
    }
}

@media (max-width: 1200px) {
    #navbarSupportedContent {
        margin-left: 0;
        margin-right: 10px;
    }

    .navbar-nav .nav-item {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    #button1,
    #button2 {
        margin-left: 0px;
    }

    #button2 {
        margin-left: 12px;
    }
}

@media (max-width: 1068px) {
    .navbar-nav {
        background-color: white; 
        padding: 15px;
        border-radius: 10px;
    }
}

@media (max-width: 769px) {
    .navbar-nav .nav-item {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    #navbarSupportedContent {
        padding: 15px 0;
        margin-left: 0;
        margin-right: 0;
    }

    #button1,
    #button2 {
        margin-top: 10px;
    }

    #button2 {
        margin-top: 10px;
        margin-left: 4%;
    }

    #logo {
        width: 60px;

    }
}
