.navbar-toggler {
    border-color: white !important;
    border-width: 1px;
    border-style: solid;
}

button:focus:not(:focus-visible) {
    color: transparent;
}




.navbar-brand img {
    margin-left: 40%;
}

#navbarDropdown:hover {
    color: #005dab;
}

.nav-item:hover{
color: #005dab;
}

#navbarSupportedContent {
    background-color: white;
    padding: 15px 0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

.navbar-nav .nav-item {
    font-size: 20px;
    font-weight: bold;
    padding-left: 9px;
    padding-right: 21px;
}

.navbar-nav .nav-link {
    color: #005dab;
}


#dropDown {
    font-size: 18px;
    color: #005dab;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.material-icons {
    font-size: 34px;
    color: white;
}


#aboutNav {
    padding-left: 14px;
}

#button1 {
    background-color: #fcd500;
    color: white;
    font-size: 20px;
    font-weight: bold;

}

#button2 {
    background-color: #005dab;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
}

#image {
    width: 80%;

}
@media (max-width: 1022px) {
    .navbar-brand img {
        margin-left: 20px;
        width: 80px;
        /* Adjust as necessary */
    }

    .navbar-nav .nav-item {
        font-size: 18px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .navbar-nav .nav-link {
        font-size: 18px;
        color: #005dab;
    }

    #button1 {
        font-size: 18px;
        padding-left: 30px;
        padding-right: 32px;
    }

    #button2 {
        font-size: 15px;
    }

    .material-icons {
        font-size: 30px;
    }

    .navbar-toggler {
        font-size: 24px;
    }

    #navbarSupportedContent {
        padding: 10px 0;
        border-radius: 10px;
        max-width: 100%;
    }
}

@media (max-width: 769px){
    .navbar-nav .nav-item {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
    #button2 {
        margin-right: 0;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    #navbarSupportedContent {
        padding: 15px 0;
        margin-left: 0;
        margin-right: 0;
    }

    #button1,
    #button2 {
        margin-top: 10px;
    }

    #button2 {
        padding-top: 3px;
        padding-bottom: 8px;
        margin-top: 10px;
    }
    #aboutNav {
        padding-left: 0px;
    }
}


@media (max-width: 1200px) {
    #line {
        width: 50%;
    }

    .navbar-brand img {
        margin-left: 20px;
    }

    #navbarSupportedContent {
        padding: 10px 0;
        max-width: 100%;
    }

    .navbar-nav .nav-item {
        font-size: 18px;
        padding-left: 5px;
        padding-right: 15px;
    }

    .material-icons {
        font-size: 30px;
    }

    #button1 {
        font-size: 18px;
        padding: 8px 10px;
    }

    #button2 {
        font-size: 16px;
        padding: 9px 8px;
    }
}