* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #005dab, #002645);
}

/* Home page */

/* .navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    height: 55px;
    background-color: white;
    border-radius: 50px;
    
}


.nav-links li {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
} */
.home {
    margin-left: 2%;
}


nav ul li {
    display: inline-block;
    padding-right: 20px;
    padding-top: 14px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

ul {
    background-color: white;
    border-radius: 10px;
}

nav {
    margin-top: 4%;
    margin-bottom: 4%;
}

#button1 {
    background-color: #fcd500;
    color: white;
    font-size: 20px;
    margin: 10px;
    padding: auto;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 15px;
}

#button2 {
    background-color: #005dab;
    color: white;
    font-size: 17px;
    margin: 10px;
    padding: auto;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 15px;
}

#logo {
    width: 90px;
    height: 90px;
    margin-top: 5%;
}

.width-50 {
    width: 100%;
    padding-bottom: 10%;
    padding-left: 10%;
    font-size: 30px;
}

.banner-section {
    width: 100%;

}

#image {
    width: 80%;

}

#image_background {
    background-color: #d9e7f2;
}

/* about page */
.about {
    background-color: white;
}


/* service page */
.service {
    background-color: #d9e7f2;

}


.card-title {
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;

}

#service_button {
    margin-left: 5%;
    margin-top: 20px;

}

.button {
    background-color: #005dab;
}


/* product page */
.header {
    text-align: center;
    padding-top: 20px;
    font-size: 35px;
    padding-bottom: 20px;
    color: #005dab;
}

.product {
    background-color: white;
}

#service_button {
    background-color: #005dab;
    color: white;
}

#images {
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
}

#color {
    color: #005dab;
}

#card {
    width: 30%;
    margin-left: 20%;
    border-radius: 50%;
}

#card2 {
    width: 30%;
    margin-right: 17%;
}

/* Basic styles for the cards */
.container.cards {
    margin-top: 20px;
}

.card-container {
    margin: 20px auto;
    width: 40%;
}

.card {
    border-radius: 20px;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.2em;
}

.card-text {
    font-size: 0.9em;
    margin-top: 10px;
}


.team-member img {
    width: 50%;
    border-radius: 50%;
  }

  .team-member {
    text-align: center;
    padding: 20px;
  }
  


/* Basic styles */
.container-fluid.product {
    padding: 20px 0;
}

.header {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.product-image {
    width: 70%;
    margin: 0 auto;
}

#buy_now{
    background-color: #005dab;
    color: white;
    margin-top: 3%;
}
#product_name{
    padding-top: 10%;
    text-align: center;
    color: #005dab;
}


.banner-section h1 {
    font-size: 40px;
}

.banner-section h5 {
    margin-top: 20px;
    font-size: 20px;
}

.image-container {
    margin-bottom: 5%;
}


/* Container styles */
.contect {
    background-color: white;
    margin-bottom: 5%;
}

/* Image styles */
#contact_image {
    margin-bottom: 5%;
    max-width: 100%;
    height: auto;
}

/* Form input styles */
#name,
#email,
#message {
    padding: 10px;
    border-radius: 10px;
    border: solid 1px rgb(176, 175, 175);
}

#message {
    resize: none;
    /* Prevents resizing */
}

/* Button styles */
#submit_button {
    background-color: #005dab;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-left: -2%;
    width: 100%;
}

.user {
    background-color: #d9e7f2;
}

#paragraph {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    margin: 5px 0;
}

#user_logo {
    background-color: #fcd500;
    border-radius: 50%;
    color: white;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
}

#user_name {
    margin-bottom: 10px;
}

#user_star {
    width: 20px;
}

.user_credit {
    padding-top: 15px;
}

.user-stars {
    display: flex;
}


/* PGM work */
.steps {
    margin-top: -9%;
}

#title {
    padding-bottom: 20px;
}

.pgm_work {
    color: white;
    padding: 20px;
}

/* offer page*/

.offer {
    background-color: white;
}

.offer_title {
    margin-right: -15%;
}

.rupees {
    margin-left: -50%;
}

.mx-auto {
    padding-bottom: 2%;
}

@media (min-width: 768px) {
    
}

.content {

    color: white;
}

.fooder_para {
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    color: white;
    margin-top: -3%;
    margin-bottom: 2%;
    font-size: 15px;
}


/* Media query for responsiveness */
@media (max-width: 768px) {

    /* .contect{
        display: none;
    }
     */
    .banner-section h1 {
        font-size: 2em;
    }

    .banner-section h5 {
        font-size: 1em;
    }

    .image-container {
        margin: 0 auto;
        max-width: 80%;
        margin-bottom: 4%;
    }

    #image {
        width: 100%;
        height: auto;
    }

    .card-container {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    #card {
        width: 100%;
        margin-left: 0%;
    }

    #card2 {
        width: 100%;
    }

    .card-img-top {
        width: 30%;
        /* Ensure image stays at 30% width */
    }

    .card-title {
        font-size: 1.1em;
    }

    .card-text {
        font-size: 0.9em;
    }

    .btn {
        margin-top: 15px;

    }

    .product .row {
        flex-direction: column;
        text-align: center;
    }

    .product .col-lg-2,
    .product .col-md-1 {
        display: none;
    }

    .product .col-lg-3,
    .product .col-md-4,
    .product .col-lg-7,
    .product .col-md-7 {
        width: 100%;
        margin-left: 0;
    }

    .product-image {
        width: 70%;
        margin-bottom: 20px;

    }

    .product p {
        padding: 0 10px;

    }

    p {
        font-size: 1em;
        padding: 0 10px;
    }

    .fooder {
        margin-top: 5%;
    }

    #paragraph {
        margin: 10px 0;
    }

    .user_credit_name {
        padding-left: 20px;
    }

    .contect .header {
        font-size: 30px;
    }

    .contect h6 {
        font-size: 14px;
        padding: 0 10px;
    }

    #submit_button {
        font-size: 18px;
        margin-left: -1%;
        margin-bottom: 3%;
    }

    .steps {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #title {
        text-align: center;
    }

    .pgm_work {
        text-align: center;
    }
    .pgm_work {
        padding: 40px;
    }

    .steps {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
}