* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #005dab, #002645);

}


#dropdown-item {
    font-size: 15px;
    color: #005dab;
    padding-left: 0px;
}

#schedule_button{
    background-color: #fcd500;
    color: white;
    font-size: 20px;
    margin-top: 15px;
    padding-left: 50px;
    padding-right: 52px;
}

.home {
    margin-left: 2%;
}

.navbar-brand img {
    margin-left: 20px;
}

#navbarSupportedContent {
    background-color: white;
    padding: 15px 0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

.navbar-nav .nav-item {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: #005dab;
}

.dropdown-item {
    font-size: 24px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.material-icons {
    font-size: 34px;
    color: white;
}

#button1 {
    background-color: #fcd500;
    color: white;
    font-size: 20px;
}

#button2 {
    background-color: #005dab;
    color: white;
    font-size: 17px;
    margin-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#image {
    width: 80%;

}

#image_background {
    background-color: #d9e7f2;
}

/* about page */
.about {
    background-color: white;
}

#about_image {
    width: 60%;
    margin-left: 20%;
}


/* service page */
.service {
    background-color: #d9e7f2;

}



#service_button {
    margin-left: 5%;
    margin-top: 20px;

}

.button {
    background-color: #005dab;
}


/* product page */
.header {
    text-align: center;
    padding-top: 20px;
    font-size: 35px;
    padding-bottom: 20px;
    color: #005dab;
}

.product {
    background-color: white;
}

#service_button {
    background-color: #005dab;
    color: white;
}

#images {
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
}

#color {
    color: #005dab;
}




/* Basic styles for the cards */
.container.cards {
    margin-top: 20px;

}

.card-container {
    margin: 20px auto;
}

#card {
    width: 30%;
    margin-left: 20%;
    border-radius: 50%;
    padding-bottom: 2%;
}

#card2 {
    width: 30%;
    margin-right: 17%;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.2em;
}

.card-text {
    font-size: 0.9em;
    margin-top: 10px;
    text-align: left;
}


.team-member img {
    width: 50%;
    border-radius: 50%;
}

.team-member {
    text-align: center;
    padding: 20px;
}



/* Basic styles */
.container-fluid.product {
    padding: 20px 0;
}

.header {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.product-image {
    width: 70%;
    margin: 0 auto;
}

#buy_now {
    background-color: #005dab;
    color: white;
    margin-top: 3%;
}

#product_name {
    padding-top: 10%;
    text-align: center;
    color: #005dab;
}


.banner-section h1 {
    font-size: 40px;
}

.banner-section h5 {
    margin-top: 20px;
    font-size: 20px;
}

.image-container {
    margin-bottom: 5%;
}


/* Container styles */
.contect {
    background-color: white;
    margin-bottom: 5%;
}

/* Image styles */
#contact_image {
    margin-bottom: 5%;
    max-width: 100%;
    height: auto;
}

/* Form input styles */
#name,
#email,
#message {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px rgb(176, 175, 175);
}

#message {
    resize: none;
}

/* Button styles */
#submit_button {
    background-color: #005dab;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-left: -2%;
    width: 100%;
}

.user {
    background-color: #d9e7f2;
    padding: 20px;
}

#paragraph {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    margin: 5px 0;
}

#user_logo {
    background-color: #fcd500;
    border-radius: 50%;
    color: white;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
}

#user_name {
    margin-bottom: 10px;
}

#user_star {
    width: 20px;
}

.user_credit {
    padding-top: 15px;
}

.user-stars {
    display: flex;
}

/* PGM work */
.steps {
    margin-top: -9%;
}

#title {
    padding-bottom: 20px;
}

.pgm_work {
    color: white;
    padding: 20px;
}


.content {

    color: white;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-group label {
    position: absolute;
    top: 0.75rem;
    left: 1rem;
    transition: all 0.3s ease;
    background: white;
    padding: 0 0.25rem;
    color: #666;
    pointer-events: none;
}

.form-group input:focus+label,
.form-group input:not(:placeholder-shown)+label,
.form-group textarea:focus+label,
.form-group textarea:not(:placeholder-shown)+label {
    top: -0.75rem;
    left: 0.75rem;
    font-size: 0.75rem;
    color: gray;
    font-size: 15px;
}

.form-group input,
.form-group textarea {
    padding: 1rem;
    padding-top: 1.5rem;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: grey;
    box-shadow: 0 0 0px;
}


.fooder_para {
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    color: white;
    margin-top: -3%;
    margin-bottom: 2%;
    font-size: 15px;
}

.about_header {
    text-align: center;
    font-size: 40px;
    padding-top: 2%;
    font-weight: bold;
    color: black;
}

#service_header {
    text-align: center;
    font-size: 40px;
    padding-top: 3%;
    padding-bottom: 3%;
    font-weight: bold;
}

.product_header {
    text-align: center;
    font-size: 40px;
    padding-top: 3%;
    padding-bottom: 3%;
    font-weight: bold;
}


/* Media query for responsiveness */
@media (max-width: 768px) {
    .card-container {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    #card {
        width: 100%;
        margin-left: 0%;
    }

    #card2 {
        width: 100%;
    }

    .card-img-top {
        width: 30%;
    }

    .card-title {
        font-size: 1.1em;
    }

    .card-text {
        font-size: 0.9em;
    }

    .btn {
        margin-top: 15px;

    }

    .product .row {
        flex-direction: column;
        text-align: center;
    }

    .product .col-lg-2,
    .product .col-md-1 {
        display: none;
    }

    .product .col-lg-3,
    .product .col-md-4,
    .product .col-lg-7,
    .product .col-md-7 {
        width: 100%;
        margin-left: 0;
    }

    .product-image {
        width: 45%;
        margin-bottom: 20px;

    }

    .product p {
        padding: 0 10px;

    }

    p {
        font-size: 1em;
        padding: 0 10px;
    }

    .fooder {
        margin-top: 5%;
    }

    #paragraph {
        margin: 10px 0;
    }

    .user_credit_name {
        padding-left: 20px;
    }

    .contect .header {
        font-size: 25px;
    }

    .user .header {
        font-size: 25px;
    }

    .product .header {
        font-size: 25px;
    }


    .user_content {
        font-size: 15px;
    }

    #title {
        font-size: 20px;
    }

    #title_content {
        font-size: 15px;
    }

    .contect .header {
        font-size: 25px;
    }

    #blog_header {
        font-size: 25px;
        margin-bottom: -30px;
    }

    .home_content1 {
        font-size: 25px;

    }

    #home_content2 {
        font-size: 25px;
        margin-top: -6px;
    }

    #home_content3 {
        font-size: 15px;
        margin-top: -2px;
    }

    #schedule_button {
        margin-bottom: 20px;
        font-size: 15px;
    }

    #product_contect {
        font-size: 14px;
    }

    #product_name {
        font-size: 15px;
    }

    #buy_now {
        font-size: 15px;
    }

    #service_header {
        padding-top: 12px;
        margin-bottom: -3px;
        font-size: 23px;
        font-weight: bold;
    }

    .about_header {
        font-size: 25px;
        padding-top: 15px;
    }

    .contect h6 {
        font-size: 14px;
        padding: 0 10px;
    }

    #submit_button {
        font-size: 18px;
        margin-left: -1%;
        margin-bottom: 3%;
    }

    .steps {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        width: 50%;

    }

    .pgm_work {
        margin-bottom: -10px;
    }



    #title {
        text-align: center;
    }

    .pgm_work {
        text-align: center;
    }

    .pgm_work {
        padding: 40px;
    }

    .steps {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #line {
        display: none;
    }

    #about_content {
        font-size: 14px;
    }



    #about_image {
        width: 100%;
        margin-left: 0%;
    }

    #experience {
        font-size: 19px;
        font-weight: bold;
    }


    #button2 {
        margin-right: 0;
    }

    #coupon_3 {
        margin-left: 0px;
        margin-right: 0px;
    }

    #coupon_2 {
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar-nav .nav-item {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    #navbarSupportedContent {
        padding: 15px 0;
        margin-left: 0;
        margin-right: 0;
    }

    #button1,
    #button2 {
        margin-top: 10px;
    }
    #button2{
        margin-top: 10px;
    }
}

@media (max-width:992px) {
    #schedule_button {
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .me-auto {
        text-align: center;
    }

    #button2 {
        margin-top: 20px;
        margin-right: 0;
    }

    .user_content {
        font-size: 13px;
    }

    #offer_header {
        margin-top: 20px;
    }

    #dropdown-menu {
        text-align: center;
    }

    #dropdown-item {
        margin-top: 2px;
        font-size: 15px;
        font-weight: bold;
    }
}


@media (max-width: 1200px) {
    #navbarSupportedContent {
        margin-left: 0;
        margin-right: 10px;
    }

    .navbar-nav .nav-item {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    #button1,
    #button2 {
        margin-left: 0px;
    }

    #button2 {
        margin-left: 12px;
    }
}

